####################################
# Flutter / Dart
####################################
.dart_tool/
.packages
.pub-cache/
.pub/
build/

.flutter-plugins
.flutter-plugins-dependencies
.flutter_tool_state

####################################
# Documentation
####################################
**/doc/api/

####################################
# IDE / Editors
####################################
.idea/
.vscode/
.atom/
*.iml
*.ipr
*.iws

####################################
# Android
####################################
android/.gradle/
android/local.properties
android/**/key.properties
android/app/debug/
android/app/profile/
android/app/release/

####################################
# iOS
####################################
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/ephemeral/
ios/Runner.xcworkspace
ios/DerivedData/
**/ios/Flutter/.last_build_id

####################################
# macOS
####################################
macos/Pods/
macos/Flutter/ephemeral/
macos/DerivedData/

####################################
# Windows
####################################
windows/flutter/ephemeral/

####################################
# Linux
####################################
linux/flutter/ephemeral/

####################################
# Web
####################################
web/.dart_tool/
web/build/

####################################
# Logs
####################################
*.log
.buildlog/

####################################
# Environment / Secrets
####################################
.env
.env.*

####################################
# Miscellaneous
####################################
*.class
*.pyc
*.swp
.DS_Store
.build/
.history
.svn/
.swiftpm/
migrate_working_dir/

####################################
# Symbolication / Obfuscation
####################################
app.*.symbols
app.*.map.json
